.social-bar-container {
  width: 100% !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.social-bar-icons {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  color: white;
  transition:opacity .2s;
}

.social-bar-container svg{
  width:28px;
  height:28px;
  color: white;
  fill:#ffffff;
  transition:opacity .2s;
}
.social-bar-container a:hover svg{opacity:.7}